*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
main{
    /* width: 60%; */
    border: 2px solid black;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
/* footer {
    width: 30%;
    border: 2px solid black;
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    position: fixed;
    bottom: 0; 
    right: 0; 
} */
#Summary {
    width: 60%;
}

/* footer{
   display: flex;
   position: absolute;
   bottom: 38rem;
   left: 60%;
   margin-top:50px;
   width: 40%;
   flex-direction: column;
} */
#skills{
    display: flex;
    position: absolute;
    align-items: start;
    justify-content: end;
}