*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
main{
    width: 60%;
    /* border: 2px solid black; */
    margin-left: 40px;
    margin-top: 60px;
    padding-left: 40px;
    
}
footer {
    width: 30%;
    border: 2px solid black;
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    position: fixed;
    bottom: 0; /* Stick to the bottom of the viewport */
    right: 0; /* Align to the left of the viewport */
}
